<ul id="nav-bar">
    <li><a href="/Home">Home Page</a></li>
    <li><a href="/Contact-us">Contact-us</a></li>
    <li><a href="/About">About</a></li>
    <li><a href="/Languages">Languages</a></li>
    <li><a href="/Blog">Blog</a></li>
    
</ul>